:root {
    /* heights */
    --sidebar-height: 100vh;
    --right-side-height: 100vh;

    --header-height: 70px;
    --sidebar-header-height: 20px;
    --task-dialog-height: 720px;

    /* --new-task-dialog-height: 750px; */
    --new-dialog-height: clamp(500px, 85vh, 600px);
    --new-list-dialog-height: clamp(200px, 40vh, 300px);

    /* widths */
    --sidebar-width: clamp(300px, 80vw, 500px);
    --right-side-width: clamp(315px, 90vw, 500px);

    --document-container-width: 100%;
    /* --right-side-dialog-width: 100%; */

    --new-dialog-width: clamp(320px, 90vw, 450px);
    --new-list-dialog-width: clamp(300px, 80vw, 400px);
    --task-dialog-width: 100%;
    --new-task-dialog-width: 100%;

    /* background-colors */
    --background-color-white-1: #ddd;
    --background-color-white-2: #d9e5f3;
    --background-color-blue-1: #15324a;
    --background-color-gray-1: rgb(181, 181, 181);
    --background-color-gray-2: rgba(255, 255, 255, 0.06);
    --background-color-gray-3: rgba(58, 64, 71, 0.95);
    --background-color-gray-4: #222;

    /* Linear Gradient */
    --linear-gradient-1: linear-gradient(to top, #080f19, #112a3e);
    /* body */
    --linear-gradient-2: linear-gradient(to bottom, #071c2f, #04111d);
    /* sidebar */
    --linear-gradient-3: linear-gradient(to bottom, #14314a, #000814);
    /**/
    --linear-gradient-4: linear-gradient(to bottom, #0b1a2e, #14314a);
    /* right side */

    /* colors */
    --font-color-white-1: #f0f0f0;
    --font-color-gray-1: #8f98a3;
    --font-color-gray-2: #9ca3af;
    --font-color-gray-3: #c9c9c9;
    --font-color-gray-4: #ddd;


    /* border color */
    --border-color-gray-1: #aaa;
    --border-color-gray-2: rgba(220, 220, 220, 0.65);
    --border-color-gray-3: #666;
    --border-color-black-1: rgba(0, 0, 0, 0.25);

    /* priority color and border */
    --priority-color-high-1: red;
    --priority-color-medium-1: yellow;
    --priority-color-low-1: #0a66ff;
    --priority-color-high-2: red;
    --priority-color-medium-2: rgb(201, 158, 2);
    --priority-color-low-2: rgb(23, 56, 205);

    /* status color and border */
    --status-color-to-do-2: rgb(186, 133, 32);
    --status-color-in-progress-2: purple;
    --status-color-done-2: green;

    /* box shadow */
    --box-shadow-1: 0 8px 24px rgba(0, 0, 0, 0.35);

    /* transitions */
    --transition-value-1: all 0.2s ease-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    /* outline: 1px dotted pink; */
    transition: var(--transition-value-1);
    font-family: 'Inter', sans-serif;
}


/* ##### Testing ########################################################## */

/* ######### ############################################ */

/* ##### General ############################################################## */
i,
li,
button {
    cursor: pointer;
}

i {
    color: white;
    font-size: 1.5rem;
}

.hide {
    display: none;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    opacity: 95%;
    transition: all 0.2s ease;
}

dialog:not([open])::backdrop {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    /* opacity: 0%; */
}

.error-message {
    color: red;
    font-size: 1.2rem;
    text-align: center;
}

.error-message:not(.error) {
    display: none;
}

/* ######### #################################################### */

html {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
}

/* #document-container */
#document-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* box-shadow: inset 0 0 10px 10px yellow; */
}

#main,
#header {
    left: 0;
    right: 0;
    width: 100%;
}

#document-container:has(#sidebar-div.appear) :is(#main, #header) {
    width: calc(100% - var(--sidebar-width));
    left: var(--sidebar-width);
}

#document-container:has(#right-side-div.appear) :is(#main, #header) {
    width: calc(100% - var(--right-side-width));
    right: var(--right-side-width);
}

#document-container:has(#sidebar-div.appear):has(#right-side-div.appear) :is(#main, #header) {
    width: calc(100% - var(--sidebar-width) - var(--right-side-width));
    left: var(--sidebar-width);
    right: var(--right-side-width);
}

/* #haeder */
#header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: var(--header-height);
    padding: 0 1rem;
    background: var(--background-color-blue-1);
    border-bottom: 1px solid var(--border-color-black-1);
}

#header .list-icon {
    margin-right: 1rem;
    font-size: 1.8em;
}

#header #main-title {
    margin-right: 0.3rem;
}

#header .main-window-type {
    color: var(--font-color-gray-1);
    font-weight: 600;
}

#header .main-window-type.views::before {
    content: "/views";
}

#header .main-window-type.tasks::before {
    content: "/tasks";
}

#header .main-window-type.notes::before {
    content: "/notes";
}

/* #main and .right-side */
:is(.task, .note) p[class^="list-of-"]::before {
    content: "List: ";
}

:is(.task, .note) [class*="-created-date"]::before {
    content: "Created on: ";
}

:is(#main, .right-side) :is([class*="-list-header"], [class*="-actions"]) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

:is(#main, .right-side) :is([class*="-list-header"], [class*="-actions"]) i {
    font-size: 3rem;
}


/* #main */
#main {
    position: relative;
    padding-top: var(--header-height);
    background: var(--linear-gradient-1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* height: 100%; */
    /* border: 3px solid red; */
    /* testing */
}

.main-window {
    width: 100%;
    height: 100%;
    /* padding: 3rem; */
}

.main-window:not(.active) {
    display: none;
}

/* #today-view */
.days-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 1.2rem;
}

.day {
    display: grid;
    gap: 0.5rem;
}

.day-name {
    font-size: 2.2rem;
    font-weight: 700;
}

.day-date {
    font-size: 1.2rem;
    color: var(--font-color-gray-2);
    font-weight: 600;
}

/* task-list and note-list */
#main :is(#task-list, #note-list) {
    padding: 0.5rem 0;
}

/* tasks-container and notes-container */
#main :is(.tasks-container, .notes-container) {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 400px)); */
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem;
}

#main .tasks-container {
    grid-template-columns: repeat(auto-fit, minmax(290px, 340px));
}

#main .notes-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
}

#main [class*="-list-header"] {
    padding: 1rem;
}

/* .task and .note */
#main :is(.tasks-container, .notes-container)>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;
    padding: 0.9rem 1rem 0.9rem 1.4rem;
    background: var(--background-color-gray-3);
    border: 2px solid var(--border-color-gray-2);
    border-radius: 6px;
    min-height: 112px;
}

#main :is(.task-header, .note-header) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

#main :is(.task, .note) div[class*="name-wrap"] {
    display: flex;
    align-items: flex-start;
    gap: 0.9rem;
    margin-top: 0.2rem;
}

#main :is(.task, .note) :is(.task-name, .note-name) {
    font-size: 1.1rem;
    font-weight: 700;
}

#main :is(.task, .note) [class^="list-of-"] {
    margin-top: 0.35rem;
    color: var(--font-color-gray-2);
    font-size: 0.95rem;
    font-weight: 600;
}

/* .task */

#main .task.high {
    border: 1px solid var(--priority-color-high-1);
}

#main .task.medium {
    border: 1px solid var(--priority-color-medium-1);
}

#main .task.low {
    border: 1px solid var(--priority-color-low-1);
}

#main .task .icons-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.6rem;
}

#main .task-check {
    width: 20px;
    height: 20px;
}

#main .task-start-due-date {
    text-align: right;
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--font-color-white-1);
}

/* #note-list */
/* .note */
.note-description {
    background: var(--background-color-gray-4);
    border-radius: 10px;
    padding: 0.8rem;
    height: 100px;
    width: 100%;
    justify-self: center;
    align-self: center;
    overflow: hidden;
}

.note-description p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--font-color-gray-4);
}

/* Modals */
.modal {
    position: fixed;
    z-index: 200;
    max-width: none;
    max-height: none;
    background-color: transparent;
}

.modal:focus {
    outline: 0;
}

.no-scroll {
    overflow: hidden;
}

/* side-divs */
div[id*="side"] {
    z-index: 200;
    display: block;
}

div[id*="side"]:not(.active) {
    display: none;
}

/* .sidebar dialog and div */
.sidebar {
    inset: 0 auto 0 0;
    left: calc(0px - var(--sidebar-width));
    width: var(--sidebar-width);
    height: var(--sidebar-height);
}

.sidebar.appear {
    left: 0;
}

#sidebar-div .list-close-icon {
    display: none;
}

.sidebar .sidebar-aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: var(--sidebar-header-height) 1rem 1rem;
    background: var(--linear-gradient-2);
    color: white;
    overflow: auto;
}

.sidebar-header {
    /* position: fixed;
    top: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--sidebar-header-height);
}

.sidebar-header h2 {
    font-size: 1.7rem;
}

.sidebar-header i {
    font-size: 1.5rem;
}

.sidebar section {
    margin-top: 1.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 1rem;
}

.sidebar h3 {
    color: var(--font-color-gray-1);
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title i {
    color: var(--font-color-gray-1);
    font-size: 1.2rem;
}

.sidebar li {
    display: flex;
    column-gap: 1rem;
    padding: 0.7rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
}

.sidebar li i {
    display: inline-block;
    /* margin-right: 1rem; */
}

.sidebar-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 1rem;
    font-weight: 600;
}

.sidebar-footer a {
    color: white;
    text-decoration: none;
}

.sidebar-footer .logout-word {
    color: red;
    cursor: pointer;
}

/* .right-side dialog and div */
.right-side {
    inset: 0 0 0 auto;
    right: calc(0px - var(--right-side-width));
    width: var(--right-side-width);
    height: var(--right-side-height);
}

.right-side.appear {
    right: 0;
}

.right-side .right-side-aside {
    width: 100%;
    height: 100%;
    padding: var(--sidebar-header-height) 1rem 1rem;
    background: var(--linear-gradient-4);
    overflow: auto;
}

.right-side .right-side-header {
    /* position: fixed;
    top: 0; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: var(--sidebar-header-height);
}

.right-side-header h2 {
    font-size: 1.7rem;
    color: white;
}

/* .task and .note */
.right-side-view {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    /* height: calc(100% - var(--side-header-height)); */
    margin-top: 1.5rem;
    color: white;
}

.right-side-view.active {
    display: flex;
}


.right-side-view div[class*="header"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side-view div[class*="header"] [class*="name"] {
    font-size: 1.7rem;
}

.right-side-view div[class*="header"] div[class*="list"] {
    margin: 0.3rem 0 0;
    color: var(--font-color-gray-1);
}


/* .priority-status */
.right-side .priority-status {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

:is(#main, .right-side) .task span {
    padding: 0.3rem 1rem;
    background: whitesmoke;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

/* priority */
.right-side .task.high .priority {
    color: var(--priority-color-high-2);
    border: 2px solid var(--priority-color-high-2);
}

.right-side .task.medium .priority {
    color: var(--priority-color-medium-2);
    border: 2px solid var(--priority-color-medium-2);
}

.right-side .task.low .priority {
    color: var(--priority-color-low-2);
    border: 2px solid var(--priority-color-low-2);
}

.right-side .task.high .priority::before {
    content: "High";
}

.right-side .task.medium .priority::before {
    content: "Medium";
}

.right-side .task.low .priority::before {
    content: "Low";
}

/* status */
:is(#main, .right-side) .task.to-do .status {
    color: var(--status-color-to-do-2);
    border: 2px solid var(--status-color-to-do-2);
}

:is(#main, .right-side) .task.in-progress .status {
    color: var(--status-color-in-progress-2);
    border: 2px solid var(--status-color-in-progress-2);
}

:is(#main, .right-side) .task.done .status {
    color: var(--status-color-done-2);
    border: 2px solid var(--status-color-done-2);
}

:is(#main, .right-side) .task.to-do .status::before {
    content: "To-Do";
}

:is(#main, .right-side) .task.in-progress .status::before {
    content: "In-Progress";
}

:is(#main, .right-side) .task.done .status::before {
    content: "Done";
}

/*  */
.right-side-view div[class*="details"] {
    border: 1px solid var(--border-color-gray-1);
    border-radius: 6px;
    padding: 1rem;
    background: var(--background-color-gray-3);
}

.right-side-view.task .task-start-due-date {
    text-align: right;
    font-weight: bold;
    margin-bottom: 1rem;
}

.right-side-view .description-box {
    position: relative;
    background: var(--background-color-gray-4);
    border-radius: 7px;
    padding: 1rem;
    min-height: 280px;
    overflow: hidden;
}

.right-side-view .description-label {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--background-color-white-1);
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0 0 10px 0;
    font-weight: bold;
}

.right-side-view .description-box [class*="-description"] {
    margin-top: 3rem;
    line-height: 1.5;
}

.right-side-view p[class*="-created-date"] {
    margin-top: 1rem;
    color: var(--font-color-gray-2);
    font-weight: bold;
}




/* for all .new-dialog and .new-list-dialog */

/* style for all dialog-confirm buttons inside dialogs */
.confirm-dialog-button.create {
    background-color: rgb(42, 199, 42);
}

.confirm-dialog-button.delete {
    background-color: rgb(217, 56, 56);
}

.confirm-dialog-button.edit {
    background-color: rgb(58, 58, 221);
}

.confirm-dialog-button.logout {
    background-color: orange;
}

/* for all .new-dialog and .new-list-dialog */
dialog[class*="-dialog"] {
    position: fixed;
    z-index: 1000;
    margin: auto;
}

dialog[class*="-dialog"]>div {
    padding: 2rem;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: var(--background-color-gray-4);
    color: white;
    box-shadow: var(--box-shadow-1);
}

.create-dialog {
    inset: 5rem 0 3rem;
    width: var(--new-dialog-width);
    height: var(--new-dialog-height);

}

dialog[class*="-dialog"] form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

dialog[class*="-dialog"] h2 {
    text-align: center;
    margin: 0 0 0.5rem;
}

dialog[class*="-dialog"] label {
    font-size: 1rem;
    font-weight: bold;
}

dialog[class*="-dialog"] input,
dialog[class*="-dialog"] select,
dialog[class*="-dialog"] textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--border-color-gray-3);
    border-radius: 10px;
    background: var(--background-color-gray-4);
    color: white;
}

dialog[class*="-dialog"] textarea {
    flex: 1;
    resize: none;
}

.row {
    display: flex;
    gap: 1rem;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.dialog-button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

dialog[class*="-dialog"] button {
    align-self: center;
    width: 50%;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    background: var(--background-color-white-2);
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}

/* #new-task-list-dialog and #new-note-list-dialog */
dialog[id*="list"] {
    /* height: var(--new-list-dialog-height); */
    width: var(--new-list-dialog-width);
}

dialog[id*="list"] > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

dialog[id*="list"] input {
    margin-top: 1rem;
}

/* #simple-dialog */
.simple-dialog {
    /* height: 200px; */
    width: 300px;
}

.simple-dialog>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

/* ################################################################# */
/* @AT-KEYFRAMES-RULES */


/* ################################################################# */
/* @AT-MEDIA-RULES */
@media (min-width: 576px) {
    :root {
        --sidebar-width: clamp(200px, 30vw, 240px);
        --right-side-width: clamp(500px, 75vw, 550px);
    }

    /* .days-container {
        grid-template-columns: auto 1fr auto;
    } */

    /* .right-side {
        inset: 0 0 0 auto;
    }

    #right-side-div.appear {
        right: 0;
    }

    #right-side-div:not(.appear) {
        right: calc(0px - var(--right-side-dialog-width));
    } */
}

@media (min-width: 768px) {
    :root {
        --sidebar-width: clamp(200px, 20vw, 250px);
        --right-side-width: clamp(400px, 50vw, 480px);

    }
}

@media (min-width: 992px) {
    :root {
        --sidebar-width: 220px;
        --right-side-width: 420px;

    }
}